extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Buscafut fue creado como demostración para mostrar mis habilidades de desarrollo web para Bancompara
        | La página fue creada con el método MEAN Stack que se refiere a Mongo, Express, Angular y Node.js. Es un sistema el cual manejas tanto el back como el front-end con Javascript.
        | <br /><br />
        | La página se trata de buscar lugares cercanos en donde haya torneos de futbol y que puedas ver las reseñas de gente que ha jugado ahí y que le interesa entrar. Te deja hacer reseñas, calificar el lugar y ver los detalles del lugar. Hay hubo algunos inconvenientes con las coordenadas por lo que siempre se muestra el mismo lugar en el mapa. La página es totalmente interactiva y las calificaciones de los torneos cambian si agregas una reseña a alguna.
